* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-text);
    font-style: normal;
}

:root{
    --main-text: 'Roboto', sans-serif;
    --main-color-grey: #757575;
    --main-color-black: #212121;
    --color-link-white: #FFFFFF;
    --color-link-hover: #2196F3;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Шапка сайта главная навигация */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color-black);
}

.logo span {
    color: var(--color-link-hover);
}

.header-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-black);
}

.header-contact a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-grey);
}

.header-list a:hover,
.header-list a:focus,
.header-contact a:hover,
.header-contact a:focus {
    color: var(--color-link-hover);
}

/* < !-- section1 hero --> */
.hero {
    background-color: aquamarine;
}

.hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-link-white);
}

.hero .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-link-white);
    background: #2196F3;
}

/* < !-- section2 Особенности --> */
.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-black);
}

.incognito {
    display: none;
}

.individual h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-black);
}

.individual p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-grey);
}

/* < !-- section3 Чем мы занимаемся --> */


/* < !-- section4 Наша команда --> */
.our-team h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--main-color-black);
}

.our-team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--main-color-grey);
}

/* < !-- footer --> */

.footer-contact a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    background-color: aqua;
}

.footer-contact-map {
    color: var(--color-link-white);
}

.footer-contact-contact {
    color: rgba(255, 255, 255, 0.6);
}






